body {
    font-family: Arial, sans-serif;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 640px;
    margin: 100px auto;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(121, 3, 240, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .post-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .post-form textarea {
    width: 100%;
    resize: vertical;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .platforms {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .platforms label {
    display: inline-block;
    width: 30px;
    height: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #facebook {
    background-image: url('https://icons8.com/icon/uLWV5A9vXIPu/facebook');
  }
  
  #twitter {
    background-image: url('https://icons8.com/icon/13963/twitter');
  }
  
  #instagram {
    background-image: url('https://icons8.com/icon/Xy10Jcu1L2Su/instagram');
  }
  
  button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  